{% load i18n unfold %}

<form method="post" novalidate class="bg-white dark:bg-base-800 flex flex-col max-h-screen max-w-sm overflow-y-auto p-6 rounded-default shadow-lg w-full">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  <div class="mb-5">
    {% component "unfold/components/title.html" with class="text-base" %}
      {{ modal_title }}
    {% endcomponent %}
    {% component "unfold/components/text.html" with class="mt-1 text-sm text-base-500" %}
      {{ modal_description }}
    {% endcomponent %}
  </div>

  <div class="aligned border border-base-200 mb-6 rounded-default pt-3 px-3 shadow-sm dark:border-base-800">
    {% for field in form.visible_fields %}
      {% include "unfold/helpers/field.html" with field=field %}
    {% endfor %}
  </div>

  <div class="flex justify-end gap-2">
    {% component "unfold/components/button.html" with variant="default" extra_attrs='type="button" x-on:click="open = false"' %}
      {% trans "Cancelar" %}
    {% endcomponent %}
    {% component "unfold/components/button.html" with submit=1 %}
      {{ submit_label }}
    {% endcomponent %}
  </div>
</form>
